.vscode/**
.vscode-test/**
.github/**
src/**
test/**
.gitignore
.yarnrc
.mocharc.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
要件定義書.md
技術検証レポート.md
詳細設計書.md
開発計画書.md
test-with-cdm.md
QUICKSTART.md
*.vsix
